@import "tailwindcss";


a.active hr{
    display: block;
}

*{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.prata-regular {
    font-family: "Prata" , serif;
    font-weight: 400;
    font-size: normal;
}

@media (max-width:640px){
    a.active {
        background-color: black;
        color: white;
    }
}

::-webkit-scrollbar{
    display: none;
}